.ControlButtons {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
}

.ControlButtons__btn {
    position: absolute;
    background-color: #111111;
    z-index: 4;
    width: 80px;
    height: 30px;
    border: 3px solid #3c3c3c;
    border-radius: 6px 6px 20px 20px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform linear 0.15s;
}

.ControlButtons__btn-start-reset:hover {
    transform: scale(1.1);
}

.ControlButtons__btn-pause-resume.active:hover, .ControlButtons__btn-pause-resume.active.resume {
    transform: scale(1.1) rotate(-47deg);
}

.ControlButtons__btn-start-reset {
    top: -15px;
    left: 155px
}

.ControlButtons__btn-pause-resume {
    left: 15px;
    top: 50px;
    transform-origin: 50% 50%;
    transform: rotate(-47deg);
}

.ControlButtons__btn > div {
    position: absolute;
    width: 40px;
    height: 22px;
    left: 17px;
    top: -22px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 3px solid #3c3c3c;
    border-left: 3px solid #3c3c3c;
    border-right: 3px solid #3c3c3c;
    background-color: #111111;
}

.ControlButtons__btn-pause-resume:not(.active), .ControlButtons__btn-pause-resume:not(.active) > div {
    background-color: #000;
    border-color: #000;
}

.ControlButtons__btn-start-reset.active, .ControlButtons__btn-start-reset.active > div {
    background-color: #7E0804;
    transform: scale(1.2);
}

.ControlButtons__btn-start-reset.active > div {
    top: -24px;
}

.ControlButtons__btn-pause-resume.resume.active, .ControlButtons__btn-pause-resume.resume.active > div {
    background-color: #8C3015;
}